{% extends "Home/common.html" %}
{% block title %}About the Company{% endblock %}

{% block content %}
<div class="jumbotron well" style="background-color: #FFFF66; text-align: center;">
          <h1>About the Company</h1>
          <p>A proud company with a colorful history</p>
</div>

<div class="well">
    <h2>Our Beginnings</h2>
    <p>Our company began a few years ago with nothing but an Abacus in an old garage. That's all we needed to start the cloud hosting company of our dreams! From that garage, we had hardly began buying our first servers
    when we were approached by the CDC Consortium, which is a group of companies that somehow share the CDC abbreviation who needed help hosting some website that have been broken into in the past. That is
    how we came across our fist clients!</p>
    <br />
    <h2>Philosophy</h2>
    <p> At the Cloud Deployment Corporation, we strive to provide the best cloud hosting service around, while performing top-notch security auditing and code modification to make our clients' software even better than it was before! </p>
    <br />
    <h2>What we actually do</h2>
    <ul>
        <li>Host web-applications of any type</li>
        <li>Read through and modify code to prevent hackers from breaking in</li>
        <li>Try not to get hacked ourselves</li>
        <li>Disclose breach information</li>
    </ul>
    <br />
    <h2>Thanks for picking the Cloud Deployment Company!</h2>
</div>
{% endblock %}