{% extends "Home/common.html" %}
{% block title %}Our Clients{% endblock %}

{% block content %}
 <div class="jumbotron well" style="background-color: #99FF99; text-align: center;">
          <h1>Our Clients</h1>
          <p>At the CDC, our number one priority is our clients!</p>
 </div>
    <center>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="">
            <h2 class="featurette-heading">Colonial Data Center <span class="text-muted">Windows Server</span></h2>
            <p class="">A really awesome company that does some really sweet stuff. Their blog is not nearly as cool as ours!</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="">
            <h2 class="featurette-heading">Cyclone Development Company <span class="text-muted">Python and Flask</span></h2>
            <p class="">This awesome company has decided to host their payroll and other accounting services. Wait, am I supposed to say that on a public website?</p>
        </div>
    </div>

     <div class="row featurette">
        <div class="">
            <h2 class="featurette-heading">Computer Dynamics Corporation <span class="text-muted">Fedora Core 2</span></h2>
            <p class="">This company is an oldie, but is definitely a strong client. They have been around since 2010 and we are looking forward to hosting their website!</p>
        </div>
    </div>
    </center>

{% endblock %}