{% extends "Home/common.html" %}
{% block title %}CDC Home{% endblock %}

{% block content %}

        <div class="jumbotron well" style="background-color: #66CCFF; text-align: center;">
            <h1>Cloud Deployment Company</h1>
            <p> Welcome, and make yourself at home!</p>
        </div>

        <div class="marketing well">

            <div class="row">
                <div class="col-lg-4">
                    <h2>Our Clients</h2>
                    <p>Our list of clients includes several large names that have been around for years. Many of them have come to our hosting service because of security issues they have had in the past, but they don't have them any more thanks to us!</p>
                    <p><a class="btn btn-default" href="clients" role="button">Read More &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2>Company Strategy</h2>
                    <p>The Cloud Deployment Company has found a niche in the web-hosting industry by providing tier-1 security auditing and code review, making any sites hosted by us <b>completely secure</b></p>
                    <br />
                    <p><a class="btn btn-default" href="about" role="button">Read More &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <h2>Blog</h2>
                    <p>One of the unique features to our company is that we do extensive monitoring and service checking, and we disclose any issues that we may have discovered and mediated in order to keep confidence in us high and to prove that we know what is going on.</p>
                    <p><a class="btn btn-default" href="blog" role="button">Read Blog &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->


{% endblock %}